<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Matieres</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="header">GESTION DES NOTES</div>

<div class="container">

<a href="/" class="btn btn-retour">Retour Accueil</a>

<h2>Liste des Matières</h2>

<a href="/matieres/add" class="btn">Ajouter Matière</a>

<table>
<tr>
<th>#</th>
<th>Nom Matière</th>
<th>Intitulé</th>
<th>Actions</th>
</tr>

<tr th:each="m, iterStat : ${matieres}">
<td th:text="${iterStat.index + 1}"></td>
<td th:text="${m.nom}"></td>
<td th:text="${m.intitule}"></td>
<td>
<a th:href="@{'/matieres/edit/' + ${m.id}}" class="btn btn-edit">Modifier</a>
<a th:href="@{'/matieres/delete/' + ${m.id}}" class="btn btn-delete">Supprimer</a>
</td>
</tr>

</table>

</div>

</body>
</html>
