<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des PV</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="header">
    GESTION DES NOTES
</div>

<div class="container">

    <a href="/" class="btn btn-retour">Retour Accueil</a>

    <h2>Liste des Procès-verbaux</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Nom de la Matière</th>
            <th>Actions</th>
        </tr>
        <tr th:each="matiere, iterStat : ${matieres}">
            <!-- ID virtuel -->
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${matiere.nom}"></td>
            <td>
                <a th:href="@{'/pv/view/' + ${matiere.id}}" class="btn btn-view">Voir PV</a>
            </td>
        </tr>
    </table>

</div>

</body>
</html>
